audio{
    position: absolute;
    bottom: 1rem;
    left: 2rem;
}
audio::-webkit-media-controls-panel{
    background-image: linear-gradient(rgb(234, 0, 226) ,rgb(175, 0, 169) 30%, rgb(74, 0, 72) 80%);
    border: none;
}